{% extends "base.html"%}
{% block content%}


<div class="jumbotron">
        <h1 class="display-4">About this Page</h1>
</div>
<div class = "article-title">
      <p>
        <h4> The text created by this program are just statistical predictions about what words follow other words,
             with some adjustments to make the articles suitable for ESL students, so be aware of the following.<br>
            1: I am usually factually accurate, but there is no guarantee.<br>
            2: I sometimes plagiarize, but I'm getting better at avoiding that! <br>
            3: I was programmed in early 2021 so I don't know any recent history. <br>
            4: You, the human, are ultimately responsible for any of my text you choose to use.<br>
            5: If you don't like the text I provide, I will write a brand new one from the same prompt. <br>
            6: Still, you may find that changing the prompt gives you better results.<br>
            7: I hallucinate sometimes, so if the text is too weird try again with a different prompt
        </h4>

</div>

{%endblock%}