{% extends "base.html"%}
{% block content%}


<div class="jumbotron">
        <h1 class="display-4">About this Site</h1>
</div>
<div class = "article-title">
      <h2> About the author</h2>
      <p>
     Welcome to the computer assisted language learning website. My name is Matthew Werth
     and I have been a language teacher for many years. Currently I am working on
      a number of automated tools to make life easier for language teachers and language learners.
      The first tool is an automated article writer for students who want to practice their language skils
      by reading about topics that interest them and for teachers who want to reinforce topics/vocabulary with original(*) texts.
      Feel free to contact me with any suggestions or comments:
      <a href = "mailto: mateoias@hotmail.com">Send Email</a>
      </p>

            <h2> About the automated article writer</h2>

      <p>
        These texts are created by the GPT3 API offered by  <a href = https://openai.com/api/ target="_blank"> OpenAI</a>, using the davinci-003 engine,
        with some adjustments to make the articles suitable for second language students. They are just statistical predictions about
        what words tend to follow other words, so you should be aware of the following.<br>
                <ul>
                  <li>(*) GPT3 sometimes plagiarizes, although it is getting better at avoiding that! Still, don't try to sell these texts as original!</li>
                  <li>The texts are usually factually accurate, but there is no guarantee</li>
                  <li>The model was trained in early 2021 so it doesn't know recent history</li>
                  <li>If you don't like the text you can  create a brand new one from the same prompt</li>
                <li>That said, you may find that changing the prompt gives you better results</li>
                <li>GPT3 hallucinates sometimes, so if the text is too weird try again with a different prompt</li>
                <li class = "list-red">You, the human, are ultimately responsible for any usage you make of these texts</li>
                </ul>
        </p>

</div>

{%endblock%}