{% extends "base.html"%}
{% block content%}


<div class="jumbotron">
        <h1 class="display-4">Computer assisted Language Learning</h1>
</div>

        <script>
          function waiting_message() {
            var x = document.getElementById("myDIV")
              x.style.display = "block"
            };
          </script>

<div class = "article-title">
      <p h4 class = text-primary>
      Welcome to the computer assisted language learning website. I am providing
      a number of automated tools to make life easier for language teachers and language learners.
      The current featured content is an automated article writer for teachers who want to reinforce topics
      or for students wo want to practice their language skils by reading about topic that interest them
      Just choose a genre from the drop down menu and type in your topic of choice.
      The system works best with simple noun/gerund topics such as
      "Pizza", "Making pizza", "The history of pizza".
       See the <a href="{{ url_for('about') }}">About</a> page for further information.
          <div id="myDIV">
            <p class = myDIV>
          Please wait for about 20 seconds, longer if you requested questions</p>
          </div>

                <form  onsubmit="waiting_message()" action="/articles" method = "POST" >
                    <p>Article <input type = "text" name = "Article" placeholder = "Enter your topic" /></p>
                    <p>Dialog <input type = "text" name = "Dialog" placeholder = "Enter your topic" /></p>
                    <p>Add Questions? <input type = "checkbox" name = "questions" placeholder = "Enter your topic" /></p>

                    <p><input id = "flash" type = "submit" value = "submit"  /></p>
                </form>
            <!--<form onsubmit="waiting_message()" action="/articles" method = "POST">-->
            <!--  <input type="radio" id="Article" name="genre" >-->
            <!--  <label for="Article">Article</label><br>-->
            <!--  <input type="radio" id="Dialog" name="genre">-->
            <!--  <label for="Dialog">Dialog</label><br>-->
            <!--  <input type="radio" id="Poem" name="genre">-->
            <!--  <label for="Poem">Poem</label>-->
            <!--  <input type = "text" name = "topic" placeholder = "Enter your topic" />-->
            <!--Add Questions? <input type = "checkbox" name = "questions" placeholder = "Enter your topic" />-->
            <!--<p><input id = "flash" type = "submit" value = "Submit"  /></p>-->
            <!--</form>-->

</div>

{%endblock%}