{% extends "base.html"%}
{% block content%}


<div class="jumbotron">
        <h1 class="display-4">Content Writing Tool</h1>
</div>

        <script>
          function waiting_message() {
            var x = document.getElementById("myDIV")
              x.style.display = "block"
            };
          </script>

<div class = "article-title">
      <p h4 class = text-primary>
      Welcome to the computer assisted article writing tool. This is an automated article writer for teachers
      who want to create texts to reinforce topics/vocabulary,
      and for students who want to practice their language skils by reading about topics that interest them.<br>
      Just choose a genre from the list below, enter your topic of choice and hit submit.<br>
      <!--If you wish to focus on certain vocabulary you can put in a list of words that must be in the text-->
      You can also optionally add TOEFL style comprehension questions by checking the box below<br>
      See the <a href="{{ url_for('about') }}">About</a> page for further information.
          <div id="myDIV">
            <p class = myDIV>
          Please wait for about 20 seconds, longer if you requested questions</p>
          </div>

                <!--<form  onsubmit="waiting_message()" action="/articles" method = "POST" >-->
                <!--    <p>Article <input type = "text" name = "Article" placeholder = "Enter your topic" /></p>-->
                <!--    <p>Dialog <input type = "text" name = "Dialog" placeholder = "Enter your topic" /></p>-->
                <!--    <p>Add Questions? <input type = "checkbox" name = "questions" placeholder = "Enter your topic" /></p>-->

                <!--    <p><input id = "flash" type = "submit" value = "submit"  /></p>-->
                <!--</form>-->
      <p h3> Choose a genre:</p>
      <form onsubmit="waiting_message()" action="/articles" method = "POST">
           <input type="radio" value="Article" name="genre" required>
           <label for="Article">Article</label><br>
           <input type="radio" value="Dialog" name="genre">
          <label for="Dialog">Dialog</label><br>
           <input type="radio" value="Poem" name="genre">
           <label for="Poem">Poem</label><br>

            <input type="radio" name="genre" value="Genre">
            <label for = Genre>Choose your own genre! (beta)</label><br>
                <div id="input-text" style="display: none;">
            <label for="input-field">Enter Genre here:</label>
            <input type="text" id="input-field" name="input-text">
                </div>

<script>
  document.querySelectorAll('input[type="radio"]').forEach(function (radio) {
    radio.addEventListener('change', function (event) {
      if (event.target.value === 'Genre') {
        document.getElementById('input-text').style.display = 'block';
      } else {
        document.getElementById('input-text').style.display = 'none';
      }
    });
  });
</script>



           <hr>
          <p h3> Enter Your Topic:  </p>
            The system works best with simple nouns/noun phrases such as:<br>
            "Pizza", "Making pizza", "The history of pizza", etc.<br>
           <input type = "text" name = "topic" placeholder = "Enter topic" required><br>
           <hr>
          <p h3> Further Options: </p>
          If you want specific vocabulary words in the text, enter them below, separated by commas.<br>
          <input type = "text" name = "vocab" placeholder = "Enter vocabulary"><br>
            To add comprehension questions about the text, check here
          <input type = "checkbox" name = "questions"> <br><br>
          <p><input id = "flash" type = "submit" value = "Submit" ></p>
          </form>

</div>

{%endblock%}