{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
        <h1 class="display-4">Sign In</h1>
</div>
<div class = "article-title">
      <p h4 class = text-primary>
      Welcome to the computer assisted language learning website, which provides
     automated tools to make life easier for language teachers and language learners.
    I do ask that everybody sign up as there is a small cost for the tools that power the site and I ask that you only
    use them for experimentation and not on an industrial scale. I will not, of course, misuse your email address.<br>
       See the <a href="{{ url_for('about') }}">About</a> page for further information.<br>
       </p>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style = "color:red;"> [{{ error}}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style = "color: red;">[{{ error}}]</span>
            {% endfor%}

        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
             <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
       </div>
       </div>
{% endblock %}